978-1-4842-0083-4/978-1-4842-0083-4_Ch09/Ch09/Customer.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Extract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FirstName" type="xs:string" />
                          <xs:element minOccurs="0" name="LastName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="BirthDate" type="xs:date" />
                    <xs:element minOccurs="0" name="Gender" type="xs:string" />
                    <xs:element minOccurs="0" name="YearlyIncome" type="xs:unsignedInt" />
                  </xs:sequence>
                  <xs:attribute name="Key" type="xs:unsignedInt" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Date" type="xs:date" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>